header {
    text-align: center;
}

h2 {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;
    margin: 20px;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

ol {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

#headerDiv {
    background-image: url("headerimg.jpg");
    background-repeat: repeat;
    background-color: rgb(49, 48, 51);
    text-align: center;
}

footer {
    background-color: rgb(4, 68, 43);
    text-align: center;
}

body {
    font-family: sans-serif;
    font-size: 110%;
    background-color: #FCF7F8;
}


/* article{
    padding:0px, 60px, 0px, 0px;
    border-style:groove;
    border-color:black;

  } */


/* creating the flex containers and such */

.flex-container {
    display: flex;
}


/* .flex-container>div{
      margin:10px;
      padding:20px;
       }
   */


/* #menuDiv{
    border-style:groove;
    border-color:black;
    border-right: hidden;
} */

.fa-instagram {
    color: black;
}

.fa {
    padding: 20px;
    font-size: 3000px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

a {
    color: #fdfffd;
}

a:visited {
    color: #fdfffd;
}

a:hover {
    color: #46e669cc;
}

a:active {
    color: #fdfffd;
}